{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h3 class="text-center text-primary mb-4">Registro de Usuario</h3>
                
                <div id="alert-box" class="alert d-none"></div>

                <form id="registroForm">
                    <div class="mb-3">
                        <label class="form-label">Nombre Completo (o Nombre de Unidad)</label>
                        <input type="text" id="nombre" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo Institucional</label>
                        <input type="email" id="email" class="form-control" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Tipo de Cuenta</label>
                        <select id="role" class="form-select" required>
                            <option value="USER">Alumno / Estudiante</option>
                            <option value="ORGANIZER">Unidad Académica / Organizador</option>
                        </select>
                        <div class="mb-3" id="interests-section">
                        <label class="form-label">Áreas de interés</label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Tecnología" id="tec">
                            <label class="form-check-label">Tecnología</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Comunicación" id="com">
                            <label class="form-check-label">Comunicación</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Ciencias Exactas" id="ciencias_ex">
                            <label class="form-check-label">Ciencias Exactas</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Política" id="politica">
                            <label class="form-check-label">política</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Cine" id="cine">
                            <label class="form-check-label">Cine</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Historia" id="hist">
                            <label class="form-check-label">Historia</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Salud" id="salud">
                            <label class="form-check-label">Salud</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Cine" id="cine">
                            <label class="form-check-label">Cine</label>
                        </div>
                    </div>
                    

                    <div class="mb-3">
                        <label class="form-label">DNI / CUIT</label>
                        <input type="text" id="dni" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" id="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Crear Cuenta</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById("registroForm").addEventListener("submit", async (e) => {
    e.preventDefault();
    const alertBox = document.getElementById("alert-box");
    const intereses = [];

    document
        .querySelectorAll('#interests-section input[type="checkbox"]:checked')
        .forEach(cb => intereses.push(cb.value));
    // Agregamos el rol al payload que se envía a FastAPI
    const payload = {
        full_name: document.getElementById("nombre").value,
        email: document.getElementById("email").value,
        dni: document.getElementById("dni").value,
        password: document.getElementById("password").value,
        role: document.getElementById("role").value,
        interests: intereses
    };

    try {
        const response = await fetch("/api/v1/auth/register", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(payload)
        });

        if (response.ok) {
            alertBox.className = "alert alert-success";
            alertBox.innerText = "¡Registro exitoso! Redirigiendo al login...";
            setTimeout(() => window.location.href = "/login", 1500);
        } else {
            const error = await response.json();
            alertBox.className = "alert alert-danger";
            alertBox.innerText = error.detail || "Error en el registro";
        }
    } catch (error) {
        console.error("Error:", error);
    }
});
</script>
{% endblock %}